.oo1{
    width: 200px ;
    height: 200px;
    background-color:red;
    border: 2px solid black;
    margin: auto;
    margin-top: 100px;
    border-radius: 50%;
    box-shadow: 0 0 70px red;
    
}
.t1{
    color: black;
    text-align: center;
    font-family: sans-serif;
    font-size: 40px; 
    font-weight: 500;
}